*{
    background-color: aliceblue;
    border-radius: 1ch;
    font-style: oblique;
}
    #fancy{
    color: black;
    font-style: oblique;
}
#nancy{
    color: brown;
}
#princy{
    color: brown;
}
#changing{
    color: aqua;
}
#colourr{
    color: aqua;
}
#proffesional{
    color: brown;
}
#photo{
    color: brown;
}
